<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Geolocation 사용하기</title>

  <meta charset="UTF-8">
  <title>API LOGIN TEST</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

  <script type="text/javascript">

    function geoFindMe() {

      const status = document.querySelector('#status');
      const mapLink = document.querySelector('#map-link');

      mapLink.href = '';
      mapLink.textContent = '';

      function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        status.textContent = '';
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

        // 지도용 좌표 전달
        $.ajax({
          type: "POST",
          url: "/exhibi_map",
          data: { latitude_give: latitude, longitude_give: longitude },
          success: function (response) {
            if (response['result'] == 'success'){
              console.log("성공")
              window.location.reload();
            }   
          }
        })
      }

      function error() {
        status.textContent = 'Unable to retrieve your location';
      }

      if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
      } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
      }

    }

  </script>



</head>

<body>
  <div class="button">
    <button onclick="geoFindMe()">Show my location</button><br />
    <p id="status"></p>
    <a id="map-link" target="_blank"></a>
  </div>
 
  <iframe style="width: 1500px;" src="http://credical.shop/exhibi_map" frameborder="0"></iframe>


</body>

</html>