<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap.min.css?ver=5">
    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <!-- <link rel="stylesheet" type="text/css" href="/static/style/index.css"> -->


    <title>메이킹챌린지 11기 | 전시회 조회 서비스</title>

    <script src="/static/js/bootstrap.min.js?ver=5"></script>
    <script src="/static/js/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            all_listup();
        });
        
// 지도 현재 위치(지도용 좌표 전달) 시작
        function geoFindMe() {

        const status = document.querySelector('#status');
        const mapLink = document.querySelector('#map-link');

        mapLink.href = '';
        mapLink.textContent = '';

        function success(position) {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        status.textContent = '';
        mapLink.href = `https://www.openstreetmap.org/#map=18/${latitude}/${longitude}`;
        mapLink.textContent = `Latitude: ${latitude} °, Longitude: ${longitude} °`;

        $.ajax({
            type: "POST",
            url: "/myposition",
            data: { latitude_give: latitude, longitude_give: longitude },
            success: function (response) {
            if (response['result'] == 'success'){
                console.log("성공");
                window.location.reload();
            }
            }
        })
        }

        function error() {
        status.textContent = 'Unable to retrieve your location';
        }

        if (!navigator.geolocation) {
        status.textContent = 'Geolocation is not supported by your browser';
        } else {
        status.textContent = 'Locating…';
        navigator.geolocation.getCurrentPosition(success, error);
        }

        }
// 지도 현재 위치(지도용 좌표 전달) 끝

//  리스트업용 함수 시작
        function append_cards(response){
            let show_list = JSON.parse(response['show_list'])

            for (let i = 0; i < show_list.length; i++) {
                // let _id = show_list[i]['_id'];
                let title = show_list[i]['title'];
                let image_link = show_list[i]['image_link'];
                let start_date = show_list[i]['start_date'];
                let end_date = show_list[i]['end_date'];
                let address_class1 = show_list[i]['address_class1'];
                let address_class2 = show_list[i]['address_class2'];
                let place = show_list[i]['place'];

                let temp_html = `<div type="button" class="col" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                                    <div class="card shadow show-card"  onclick="show_detail('${title}')">
                                        <img class="card-img-top"
                                            src="${image_link}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title weight_600">${title}</h5>
                                            <p class="card-text">기간: ${start_date} ~ ${end_date}</p>
                                            <p class="card-text">지역: ${address_class1} ${address_class2}</p>
                                            <p class="card-text">장소: ${place}</p>
                                        </div>
                                    </div>
                                </div>`;
                $('#cards-box').append(temp_html);
            } 
        }
//  리스트업용 함수 끝


        // 메인 최신 전시회 리스트 시작(html ajax 작업완료했습니다.)
        function all_listup() {
            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    append_cards(response);
                }
            })
        }
        // 메인 최신 전시회 리스트 끝










        
        // 전시회 상세 페이지 값 가져오기 시작
        function show_detail(title) {
            $('#detail-page').empty()
            $.ajax({
                type: 'POST',
                url: '/api/show/detail',
                data: {title_give: title},
                success: function (response) {
                    let target_show = response['target_show']

                    let title = target_show['title']
                    let ticket_link = target_show['ticket_link']
                    let image_link = target_show['image_link']
                    let place = target_show['place']
                    let place_link = target_show['place_link']
                    let start_date = target_show['start_date']
                    let end_date = target_show['end_date']
                    let show_class = target_show['class']
                    let price = target_show['price']
                    let age_limit = target_show['age_limit']
                    let address = target_show['address']
                    let phone_num = target_show['phone_num']
                    let address_class1 = target_show['address_class1']
                    let address_class2 = target_show['address_class2']
                    let latitude = target_show['latitude']
                    let longitude = target_show['longitude']

                    console.log(title, ticket_link, image_link, place, place_link, start_date, end_date, show_class, price, age_limit, address, phone_num, address_class1, address_class2, latitude, longitude)

                    let detail_temp_html = `<div>
                                                제목: ${title}<br>
                                                티켓 링크: ${ticket_link}<br>
                                                이미지 링크: ${image_link}<br>
                                                전시장: ${place}<br>
                                                전시장 링크: ${place_link}<br>
                                                시작 날짜: ${start_date}<br>
                                                마감 날짜: ${end_date}<br>
                                                공연 종류: ${show_class}<br>
                                                공연 가격: ${price}<br>
                                                이용 제한: ${age_limit}<br>
                                                주소: ${address}<br>
                                                전화번호: ${phone_num}<br>
                                                지역시도: ${address_class1}<br>
                                                지역시구: ${address_class2}<br>
                                                위도: ${latitude}<br>
                                                경도: ${longitude}
                                            </div>`

                    $('#detail-page').append(detail_temp_html)
                }
            })
        }
        // 전시회 상세 페이지 값 가져오기 끝

        // 지도 검색 select 태그 내용 추가하기 시작
        $('document').ready(function () {
            var area0 = ["시/도", "서울시", "인천시", "대전시", "광주시", "대구시", "울산시", "부산시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주도"];
            var area1 = ["강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"];
            var area2 = ["계양구", "남구", "남동구", "동구", "부평구", "서구", "연수구", "중구", "강화군", "옹진군"];
            var area3 = ["대덕구", "동구", "서구", "유성구", "중구"];
            var area4 = ["광산구", "남구", "동구", "북구", "서구"];
            var area5 = ["남구", "달서구", "동구", "북구", "서구", "수성구", "중구", "달성군"];
            var area6 = ["남구", "동구", "북구", "중구", "울주군"];
            var area7 = ["강서구", "금정구", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구", "기장군"];
            var area8 = ["고양시", "과천시", "광명시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안성시", "안양시", "양주시", "오산시", "용인시", "의왕시", "의정부시", "이천시", "파주시", "평택시", "포천시", "하남시", "화성시", "가평군", "양평군", "여주군", "연천군"];
            var area9 = ["강릉시", "동해시", "삼척시", "속초시", "원주시", "춘천시", "태백시", "고성군", "양구군", "양양군", "영월군", "인제군", "정선군", "철원군", "평창군", "홍천군", "화천군", "횡성군"];
            var area10 = ["제천시", "청주시", "충주시", "괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "증평군", "진천군", "청원군"];
            var area11 = ["계룡시", "공주시", "논산시", "보령시", "서산시", "아산시", "천안시", "금산군", "당진군", "부여군", "서천군", "연기군", "예산군", "청양군", "태안군", "홍성군"];
            var area12 = ["군산시", "김제시", "남원시", "익산시", "전주시", "정읍시", "고창군", "무주군", "부안군", "순창군", "완주군", "임실군", "장수군", "진안군"];
            var area13 = ["광양시", "나주시", "목포시", "순천시", "여수시", "강진군", "고흥군", "곡성군", "구례군", "담양군", "무안군", "보성군", "신안군", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군", "해남군", "화순군"];
            var area14 = ["경산시", "경주시", "구미시", "김천시", "문경시", "상주시", "안동시", "영주시", "영천시", "포항시", "고령군", "군위군", "봉화군", "성주군", "영덕군", "영양군", "예천군", "울릉군", "울진군", "의성군", "청도군", "청송군", "칠곡군"];
            var area15 = ["거제시", "김해시", "마산시", "밀양시", "사천시", "양산시", "진주시", "진해시", "창원시", "통영시", "거창군", "고성군", "남해군", "산청군", "의령군", "창녕군", "하동군", "함안군", "함양군", "합천군"];
            var area16 = ["서귀포시", "제주시", "남제주군", "북제주군"];


            // 시/도 선택 박스 초기화

            $("select[name^=sido]").each(function () {
                $selsido = $(this);
                $.each(eval(area0), function () {
                    $selsido.append("<option value='" + this + "'>" + this + "</option>");
                });
                $selsido.next().append("<option value=''>구/군</option>");
            });


            // 시/도 선택시 구/군 설정

            $("select[name^=sido]").change(function () {
                var area = "area" + $("option", $(this)).index($("option:selected", $(this))); // 선택지역의 구군 Array
                var $gugun = $(this).next(); // 선택영역 군구 객체
                $("option", $gugun).remove(); // 구군 초기화

                if (area == "area0")
                    $gugun.append("<option value=''>구/군 선택</option>");
                else {
                    $.each(eval(area), function () {
                        $gugun.append("<option value='" + this + "'>" + this + "</option>");
                    });
                }
            });
        });
        // 지도 검색 select 태그 내용 추가하기 끝

        // 메인 왼쪽 메뉴 시작
        $(function () {
            $("dt").click(function () {  // .click(0를 이용해 클릭했을 때 동작
                $(this).toggleClass("open"); // 해당태그를 토글시 오픈 / toggleClass()로 선택한 요소에 클래스(Class) 값을 넣었다 뺐다 할 수 있습니다.
                if ($(this).hasClass("open")) // 해당 태그에 클래스이 open이 있는지 확인 / 의 hasClass() 메서드는 선택한 요소에 클래스가 있는지 확인합니다. / 열려있는 것 확인
                    $("dt").not(this).removeClass("open"); // not(this) this가 아닌요소 선택 / removeClass() 클래스를 지운다. / 열려있는것 닫기
            })
        })
        // 메인 왼쪽 메뉴 끝
        





    </script>

</head>

<body>

<div class="container">

    <div class="top"></div>
    <!-- MIDDLE -->
    <div class="middle">

        <!-- LEFT 시작 -->
        <div class="middle-left">
            <!-- 관심 카테고리 모달 열기 위한 버튼 -->
            <!--            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
            <!--                모달 보기 버튼-->
            <!--            </button>-->
            <!-- 관심 카테고리 모달 열기 위한 버튼 끝 -->
            <!-- 모달 영역 -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title weight_700 interest-title">어떤 전시회를 보고 싶으신가요?</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="i-close"></i></span></button>
                        </div>
                        <div class="modal-body interest-ceter">
                            <div class="interest-title-sub">홈 피드에서 보고 싶은 콘텐츠를 선택해주세요.</div>
                            <div class="interest-ceter">
                                <div id="ck-button_01" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest_01" id="interest"
                                               value="전시" ><span>전시</span>
                                    </label>
                                </div>
                                <div id="ck-button_02" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest_02" id="interest"
                                               value="뮤지엄"><span>뮤지엄</span>
                                    </label>
                                </div>
                                <div id="ck-button_03" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest_03" id="interest" value="아동체험전"><span>아동체험전</span>
                                    </label>
                                </div>
                            </div>
                            <div class="interest-ceter">
                                <div id="ck-button_04" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest_04" id="interest" value="행사/축제"><span>행사/축제</span>
                                    </label>
                                </div>
                                <div id="ck-button_05" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest_05" id="interest"
                                               value="클래스"><span>클래스</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer interest-ceter">
                            <div>
                                <input class="interest-save-btn btn-radius" type="submit" value="다 했어요!">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 모달 영역 끝 -->

            <!-- 왼쪽 메뉴 시작 -->
            <div class="left-menu">
                <dl>
                    <div class="interest" data-target="#myModal">관심 카테고리<i class="i-more" data-bs-toggle="modal"
                                                                           data-bs-target="#staticBackdrop"></i>
                    </div>
                    <div class="">

                            <div id="menu-button_01" class="menu-button">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="전시" onclick="exhibition_listup()"><span>전시</span>
                                </label>
                            </div>
                            <div id="menu-button_02" class="menu-button">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="뮤지엄"><span>뮤지엄</span>
                                </label>
                            </div>
                            <div id="menu-button_03" class="menu-button">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="아동체험전"><span>아동체험전</span>
                                </label>
                            </div>

                            <div id="menu-button_04" class="menu-button">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="행사/축제"><span>행사/축제</span>
                                </label>
                            </div>
                            <div id="menu-button_05" class="menu-button">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="클래스"><span>클래스</span>
                                </label>
                            </div>

                    </div>
                </dl>
            </div>
            <!-- 왼쪽 메뉴 끝 -->

        </div>
        <!-- LEFT 끝 -->

        <!-- RIGHT 시작 -->
        <div class="middle-right">

            <div class="wrap">
                <!-- 검색 Input 시작 -->
                <div class="search" style="float:left;">
                    <select name="sido1" id="sido1" class="form-select"
                            aria-label="Default select example"></select>
                    <select name="gugun1" id="gugun1" class="form-select seach-position"
                            aria-label="Default select example"></select>
                </div>
                <div style="float:left;">
                    <button class="btn btn-white btn-radius map-search" type="text" placeholder="">지도 검색</button>
                </div>
                <div style="float:left;">
                    <button class="btn btn-white btn-radius position-search" type="text" placeholder="" onclick="geoFindMe()">현재 위치 검색
                    
                    </button>
                </div>
                <!-- 검색 Input 끝-->

                <!-- 로그인 회원가입 시작 -->
                <div style="float:left;">
                    <button class="btn btn-white btn-radius log-in" type="text" placeholder="">로그인</button>
                </div>
                <div>
                    <button class="btn btn-white btn-radius btn-blue sign-up" type="text" noresize="noresize"
                            placeholder="">회원가입
                    </button>
                </div>
                <div style="float:left;">
                    <button class="btn btn-white btn-radius my-pro" type="text" placeholder="">My 프로필</button>
                </div>
                <div>
                    <button class="btn btn-white btn-radius btn-blue log-out" type="text" noresize="noresize"
                            placeholder="">로그아웃
                    </button>
                </div>
                <!-- 로그인 회원가입 끝 -->

                <!-- 지도 부분 -->
                <div class="current-position-map" id="map">

                    <iframe allow="fullscreen" src="http://credical.shop/exhibi_map"
                                               allow="autoplay; encrypted-media" style="display:block; width:800px; height: 500px"
                                          scrolling="no" align="center"></iframe>
                </div>
                <!-- 지도 부분 끝 -->
                <div class="weight_600 cards-list-title">최신 전시회</div>

                <!-- 전시회 리스트 -->
                <div class="cards-list-box">
                    <div id="cards-box" class="row row-cols-1 row-cols-md-3 g-4">
                        <!-- <div type="button" class="col" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <div class="card shadow show-card">
                                <img class="card-img-top"
                                     src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                    <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                    <p class="card-text">지역: 서울</p>
                                    <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <!-- 전시회 리스트 끝 -->

            </div>
            <!-- RIGHT 끝 -->

            <!-- 모달 상세 페이지 부분 시작 -->
            <!--                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"-->
            <!--                        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas-->
            <!--                </button>-->

            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                 aria-labelledby="offcanvasBottomLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasBottomLabel">상세페이지</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body small" id="detail-page">
                    상세페이지 내용
                </div>
            </div>
            <!-- 모달 상세 페이지 부분 끝 -->

        </div>
    </div>
    <!-- MIDDLE 끝 -->

</div>

</body>
</html>