<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API 비밀번호 찾기 TEST</title>

        <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            let temp_html = `<a>당신의 비밀번호, 변경되어 메일로 보냈음.</a>`
            $("#show_your_ps").append(temp_html)
        });

    </script>
</head>
<body>
<div id="show_your_ps">
</div>

</body>
</html>