<!doctype html>
<html lang="ko" data-dark="false">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/bookmark.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/detailpage.css">
    <script src="/static/js/bootstrap.min.js"></script>

    <title>북마크</title>

    <script type="text/javascript">

        $(document).ready(function (){
            if (sessionStorage.getItem('session_key') == null){
                alert('로그인 후 이용가능합니다.')
                location.href="/"
            }
            else {
                let user_key = sessionStorage.getItem('session_key')

                $.ajax({
                    type: "POST",                             // POST 요청
                    url: "/mybookmark/basicdata",                           // app.py에서 사용한 url과 맞춰줘야함
                    data: {key_give: user_key},          // sample_give 변수로 데이터를 넘겨줌
                    success: function (response) {
                        if(response['Okay'] == 'MATCH_SUCCESS'){
                            let card_id_list = []
                            for (let i=0; i<response['info'].length; i++){
                                let image = response['info'][i]['image']
                                let title = response['info'][i]['title']
                                let start_date = response['info'][i]['start_date']
                                let end_date = response['info'][i]['end_date']
                                let place = response['info'][i]['place']
                                let address_class1 = response['info'][i]['address_class1']
                                let address_class2 = response['info'][i]['address_class2']
                                let id = response['info'][i]['id']

                                let temp_html = `<div type="button" class="col" data-bs-toggle="offcanvas"
                                                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                                                    <div class="card shadow show-card" onclick="show_detail('${id}')">
                                                        <img class="card-img-top"
                                                            src="${image}"
                                                            alt="Card image cap" onerror="this.src='/static/imgs/noimage.png';">
                                                        <div class="card-body">
                                                            <h5 class="card-title weight_600">${title}</h5>
                                                            <p class="card-text">기간: ${start_date} ~ ${end_date}</p>
                                                            <p class="card-text">지역: ${address_class1} ${address_class2}</p>
                                                            <p class="card-text">장소: ${place}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                `
                                $("#bookmark_cardbox").append(temp_html)

                                card_id_list.push(id)
                                sessionStorage.setItem('exhibit_id_list',card_id_list)

                            }
                        } else {
                            alert('ERROR!')
                            sessionStorage.removeItem('session_key');
                            location.href="./"
                        }
                    }
                })



            }
        })

        // 전시회 상세 페이지 값 가져오기 시작
        function show_detail(id) {
            if (id == 'No_preview'){
                alert('첫 페이지입니다.')
            } else if(id == 'No_next'){
                alert('마지막 페이지입니다.')
            } else {

                var session_key = sessionStorage.getItem('session_key')
                if (session_key == null){
                session_key = 'No_login'
                }
                
                $('#detail-page').empty()
                $.ajax({
                    type: 'POST',
                    url: '/show_detail',
                    data: {id_give: id, key_give: session_key},
                    success: function (response) {
                        let target_show = response['target_show']

                        let title = target_show['title']
                        let ticket_link = target_show['ticket_link']
                        let image_link = target_show['image_link']
                        let place = target_show['place']
                        let place_link = target_show['place_link']
                        let start_date = target_show['start_date']
                        let end_date = target_show['end_date']
                        let show_class = target_show['class']
                        let price = target_show['price']
                        let age_limit = target_show['age_limit']
                        let address = target_show['address']
                        let phone_num = target_show['phone_num']
                        let address_class1 = target_show['address_class1']
                        let address_class2 = target_show['address_class2']
                        let latitude = target_show['latitude']
                        let longitude = target_show['longitude']
                        let bookmark_total_num = target_show['bookmark_total_num']
                        let view_num = target_show['view_num']
                        let id = target_show['id']
                        let detail_link = target_show['detail_link']

                        //버튼 만들기 작업
                        let exhibit_id_list = sessionStorage.getItem('exhibit_id_list').split(',')

                        if(exhibit_id_list.indexOf(id) == 0){
                            var pre_value = "'No_preview'"
                        } else {
                            var pre_value = "'" + exhibit_id_list[exhibit_id_list.indexOf(id) - 1] + "'"
                        }

                        if(exhibit_id_list.indexOf(id) == exhibit_id_list.length - 1){
                            var next_value = "'No_next'"
                        } else {
                            var next_value = "'" + exhibit_id_list[exhibit_id_list.indexOf(id) + 1] + "'"
                        }


                        let detail_temp_html = `<div class="container" style="min-width:1400px">
                                                    <!--헤드 버튼-->
                                                    <div class="top topbutton">
                                                        <i class="i-shape_l btn btn-blue_F topbtn" onclick="show_detail(${pre_value})"></i>
                                                        <i class="i-close btn btn-blue_F topbtn close" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                                                        <i class="i-shape_r btn btn-blue_F topbtn" onclick="show_detail(${next_value})"></i>
                                                    </div>
                                                    <div class="middle">
                                                        <div class="middle-left">
                                                            <div>
                                                                <!--왼쪽 박스-->
                                                                <div class="imgbox">
                                                                    <img src="${image_link}" class="infoimg" alt="..." align="left" onerror="this.src='/static/imgs/noimage.png';">
                                                                </div>
                                                                <div class="infobox">
                                                                    <div class="infotext">
                                                                        <h3 class="preview"><b>${title}</b></h3>
                                                                        <hr class="hrstyle" noshade>
                                                                        <table width="280px" height="230px">
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>장소</b></td>
                                                                                <td>${place}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>기간</b></td>
                                                                                <td>${start_date} ~ ${end_date}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>관람연령</b></td>
                                                                                <td>${age_limit}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>가격</b></td>
                                                                                <td>${price}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--오른쪽 박스-->
                                                                <div class="wrap2">
                                                                    <div class="right-menu">
                                                                        <p class="tit"><b>구매 링크</b></p>
                                                                        <input class="form-control add" type="text" placeholder="Disabled input" aria-label="Disabled input example" id="ticketlink" value="${ticket_link}" readonly>
                                                                        <div class=igather>
                                                                            <i class="i-bookmark circle" onclick="check('${id}')" id="bookmark" ></i>
                                                                            <i class="i-share circle" onclick="copy('${ticket_link}')"></i>
                                                                            <i class="i-info circle" onclick="info()" id="info"></i>
                                                                        </div>
                                                                    <!--i 클릭하면 정보 보이는 박스-->
                                                                    </div>
                                                                    <div class="right-menu" id="infoopen">
                                                                        <h3 class="infonum space"><span>조회</span><span>북마크</span></h3>
                                                                        <p class="num"><b class="space"><span>${view_num}</span><span>${bookmark_total_num}</span></b></p>
                                                                    </div>
                                                                    <button class="btn btn-white btn-radius btn-blue btn-point weight_600 button" onclick = "location.href = '${ticket_link}' " type="button">예매하기</button>
                                                                </div>
                                                            </div>
                                                            <!--상세정보-->
                                                            <div class="left-box2" id=detailimg>
                                                                <p class="detailstxt"><b>상세정보</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                `

                        $('#detail-page').append(detail_temp_html)
                        /*상세이미지 리스트*/
                        for(let i = 0; i < detail_link.length; i++){
                            let img_link = detail_link[i]
                            let temp2_html = `<div><img src="${img_link}" class="details" alt="..."></div>`
                            $('#detailimg').append(temp2_html)
                        }

                        if(response['bookmark_give'] == 'Yes'){
                            document.getElementById('bookmark').style.color = "blue"
                        }
                    }
                })
            }
        }

        /*상세 페이지 북마크 클릭 함수*/
        function check(id){
            var session_key = sessionStorage.getItem('session_key')

            if(sessionStorage.getItem('session_key') == null){
                alert('로그인 후 이용해주세요')
            } else{
                $.ajax({
                    type: 'POST',
                    url: '/add_bookmark',
                    data: {userkey_give: session_key, exhibitid_give: id},
                    success: function (response) {
                        let Do = response['Do']
                        
                        if(Do == "remove_complete"){
                            document.getElementById('bookmark').style.color = "black"
                            alert('북마크가 해제 되었습니다')
                        } else{
                            document.getElementById('bookmark').style.color = "blue"
                            alert('북마크가 추가 되었습니다')
                        }
                    }
                })
            }
        }
        /*상세 페이지 링크 복사 함수*/
        function copy(str) {
            let t = document.createElement("textarea");
            document.getElementById('detail-page').appendChild(t);
            t.value = str;
            t.select();
            document.execCommand('copy');
            document.getElementById('detail-page').removeChild(t);
            alert('링크가 복사되었습니다');
        }

        /*상세 페이지 i 클릭 함수*/
        function info(){
            if(document.getElementById("infoopen").style.display == 'block'){
                document.getElementById("info").style.color = "black"
                document.getElementById("infoopen").style.display = 'none';
            } else{
                document.getElementById("info").style.color = "blue"
                document.getElementById("infoopen").style.display = 'block';
            }
        }

        // 전시회 상세 페이지 값 가져오기 끝





    </script>
</head>
<body>
    <div class="body-center">
        <div class="container-fluid">
            
            <!-- MIDDLE -->
            <div class="middle">
                <!-- LEFT 시작 -->
                <div class="middle-left float-left">
                    <div class="left-menu">
                        <div class="">
                            <div id="menu-button_01" class="menu-button deact">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                        value="My 프로필" onClick="location.href='/mypage'"><span>My 프로필</span>
                                </label>
                            </div>
                            <div id="menu-button_02" class="menu-button active ">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                        value="북마크"><span>북마크</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="middle-right">

                    <div class="wrap">
                        <div class="header-postion">
                            <div class="title_inner">
                                <p class="marktext"><b>북마크</b></p>
                                <a href="/" class="btn btn-white btn-radius btn2">메인으로 이동하기</a>
                            </div>

                            <div class="cards-list-box" >
                                <div id="bookmark_cardbox" class="row row-cols-auto rowedit">
                                </div>
                            </div>
                            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
                                
                                <div id="detail-page" class="scrolledit"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>