<!doctype html>
<html lang="ko" data-dark="false">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!--CSS-->
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/bookmark.css">
    <link rel="stylesheet" href="/static/style/main.css">
    <script src="/static/js/bootstrap.min.js"></script>

    <title>북마크</title>

    <script type="text/javascript">

        $(document).ready(function (){
            if (sessionStorage.getItem('session_key') == null){
                alert('로그인 후 이용가능합니다.')
                location.href="/"
            }
            else {
                let user_key = sessionStorage.getItem('session_key')

                $.ajax({
                    type: "POST",                             // POST 요청
                    url: "/mybookmark/basicdata",                           // app.py에서 사용한 url과 맞춰줘야함
                    data: {key_give: user_key},          // sample_give 변수로 데이터를 넘겨줌
                    success: function (response) {
                        if(response['Okay'] == 'MATCH_SUCCESS'){
                            for (let i=0; i<response['info'].length; i++){
                                let image = response['info'][i]['image']
                                let title = response['info'][i]['title']
                                let start_date = response['info'][i]['start_date']
                                let end_date = response['info'][i]['end_date']
                                let place = response['info'][i]['place']
                                let address_class1 = response['info'][i]['address_class1']
                                let address_class2 = response['info'][i]['address_class2']

                                let temp_html = `<div type="button" class="col" data-bs-toggle="offcanvas"
                                                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                                                    <div class="card shadow show-card" onclick="show_detail('${title}')">
                                                        <img class="card-img-top"
                                                            src="${image}"
                                                            alt="Card image cap">
                                                        <div class="card-body">
                                                            <h5 class="card-title weight_600">${title}</h5>
                                                            <p class="card-text">기간: ${start_date} ~ ${end_date}</p>
                                                            <p class="card-text">지역: ${address_class1} ${address_class2}</p>
                                                            <p class="card-text">장소: ${place}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                `
                                $("#bookmark_cardbox").append(temp_html)

                            }
                        } else {
                            alert('ERROR!')
                            sessionStorage.removeItem('session_key');
                            location.href="./"
                        }
                    }
                })



            }
        })




    </script>
</head>
<body>
    <div class="body-center">
        <div class="container-fluid">
            
            <!-- MIDDLE -->
            <div class="middle">
                <!-- LEFT 시작 -->
                <div class="middle-left float-left">
                    <div class="left-menu">
                        <div class="">
                            <div id="menu-button_01" class="menu-button deact" href="/mypage">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu" 
                                        value="My 프로필"  onClick="location.href='/mypage'"><span>My 프로필</span>
                                </label>
                            </div>

                            <div id="menu-button_02" class="menu-button active">
                                <label>
                                    <input type="radio" name="main_menu" id="main-menu"
                                           value="북마크"><span>북마크</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="middle-right">

                    <div class="wrap">
                        <div class="header-postion">
                            <p class="marktext"><b>북마크</b></p>

                            <div class="cards-list-box" >
                                <div id="bookmark_cardbox" class="row row-cols-auto rowedit">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
</body>
</html>