
<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>
  <meta charset="UTF-8">
  <title>아이디찾기</title>
  <link rel="stylesheet" href="/exhibi-dev/static/style/bootstrap.min.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/common.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/join.css">
  <script src="/exhibi-dev/static/js/bootstrap.min.js"></script>
	<script src="/exhibi-dev/static/js/jquery.min.js"></script>
</head>
<body>
	<div class="join_wrapper">
		<div class="join-bg">
			<div class="join-bg-inner" style="background-image: url(/exhibi-dev/static/imgs/join-bg.jpg);"></div>
		</div>
		<div class="join-side">
			<div class="position_inner">
				<h2 class="join-title">아이디찾기</h2>
				<div class="mt-4">
					<form>
						<div class="form-floating mb-3">
							<input type="email" class="form-control form_custom" id="NAME" placeholder="홍길동">
							<label for="NAME">이름</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control form_custom" id="PHONE_NUMBER" placeholder="휴대폰번호">
							<label for="PHONE_NUMBER">휴대폰번호</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control form_custom" id="SEX" placeholder="성별">
							<label for="SEX">성별</label>
						</div>

						<div class="login-inner">
							<button class="btn btn-white btn-radius btn-blue btn-point weight_600 btn__submit" type="button" id="submit">검색</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>