<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>
  <meta charset="UTF-8">
  <title>비밀번호 찾기 성공</title>
  <link rel="stylesheet" href="/static/style/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style/common.css">
  <link rel="stylesheet" href="/static/style/join.css">
  <script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/jquery.min.js"></script>
</head>
<body>
	<div class="find_id_complete">
		<div class="find_id_inner">
			<div class="find__title">
				<h2>비밀번호 재설정</h2>
				<p class="mt-3">이미의 비밀번호를 이메일로 전달했습니다.<br/>이메일을 확인 해주세요.</p>
			</div>
			
			<div class="btn_inner mt-4">
				<a class="btn btn-white btn-radius btn-blue btn-point weight_600 btn__submit" href="/">메인 페이지</a>
			</div>
		</div>
	</div>
</body>
</html>