
<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>
    <meta charset="UTF-8">
    <title>전시회</title>
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/join.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.min.js"></script>
</head>
<body>
	<div class="join_wrapper">
		<div class="join-bg">
			<div class="join-bg-inner" style="background-image: url(/static/imgs/join-bg.webp);"></div>
		</div>
		<div class="join-side">
			<div class="position_inner">
				<h2 class="join-title">로그인</h2>
				<div class="mt-4">
					<form>
						<div class="form-floating mb-3">
							<input type="email" class="form-control form_custom" id="ID" placeholder="name@example.com">
							<label for="ID">아이디(이메일)</label>
						</div>
						<div class="form-floating mb-3">
							<input type="password" class="form-control form_custom" id="PASSWORD" placeholder="Password">
							<label for="PASSWORD">비밀번호</label>
						</div>

						<div class="login-inner">
							<button class="btn btn-white btn-radius btn-blue btn-point weight_600 btn__submit" type="button" id="submit">로그인</button>
							<div class="login-account mt-2">
								<div class="login-account-find">
									<a href="/find_id">아이디찾기</a>
									<a href="/find_pw">비밀번호찾기</a>
								</div>
									<a href="/join" class="login-signup">회원가입</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	(function(){
		function sign_in() {
			let type_id = $('#ID').val();
			let type_pw = $('#PASSWORD').val();

			// console.log('type_id is ',type_id)
			// console.log('type_pw is ',type_pw)

			if(type_id === ""){
				alert('아이디를 입력해주세요');
			}else if(type_pw === ""){
				alert('비밀번호를 입력해주세요');
			}
				$.ajax({
					type: "GET",
					url: "/login",
					data: {},
					success: function (response) {
						let member_list = JSON.parse(response['all_member_list'])

                        let member_id_index = member_list.findIndex(v => v.ID === type_id);

                        if (member_id_index !== -1) {
                            let PASSWORD = member_list[member_id_index]['PASSWORD'];
                            if (PASSWORD === type_pw) {
                                sessionStorage.setItem("session_key", member_list[member_id_index]['KEY']);
                                alert('로그인이 되었습니다.')
                                return window.location.href = '/';
                            } else {
                                window.alert('비밀번호가 틀렸습니다.');
                                return window.location.reload();
                            }
                        } else {
                            window.alert('아이디가 존재하지 않습니다.');
                            return window.location.reload();
                        }
                    }
                });
		};

		$('#submit').on('click', sign_in);
	})();
	</script>
</body>
</html>