<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style/common.css">
    <link rel="stylesheet" type="text/css" href="/static/style/main.css">
    <link rel="stylesheet" type="text/css" href="/static/style/detailpage.css">

    <title>메이킹챌린지 11기 | 전시회 조회 서비스</title>

    <script src="/static/js/bootstrap.min.js?ver=5"></script>
    <script src="/static/js/jquery.min.js"></script>


    <script>

        $(document).ready(function () {
            all_listup();
            session_check();
            loginMap()
            cateMainmenu();
        });


        // 지도 현재 위치(지도용 좌표 전달) 시작
        function geoFindMe() {

            var session_key = sessionStorage.getItem('session_key')


            function success(position) {
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                // console.log('success 실행합니다')
                // console.log(latitude, longitude)


                $.ajax({
                    type: "POST",
                    url: "/myposition",
                    data: {latitude_give: latitude, longitude_give: longitude, key_give: session_key},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            // console.log("성공");
                            let iframe_map = response['result']

                            if (iframe_map == 'success') {
                                let iframe_temp = `<iframe allow="fullscreen" src="https://credical.shop/position_map"
                                                    allow="autoplay; encrypted-media" scrolling="no" align="center"
                                                    class="iframebox"></iframe>`
                                $('#iframe-map').empty()
                                $('#iframe-map').append(iframe_temp)
                            }
                            // window.location.reload();
                        }
                    }
                })
            }

            function error() {

                window.alert('Unable to retrieve your location');
                // status.textContent = 'Unable to retrieve your location';
            }

            if (!navigator.geolocation) {
                window.alert('Geolocation is not supported by your browser');

            } else {
                // status.textContent = 'Locating…';
                window.alert('Locating…');
                navigator.geolocation.getCurrentPosition(success, error);
            }

        }

        // 지도 현재 위치(지도용 좌표 전달) 끝

        //  리스트업용 함수 시작
        function append_cards(response) {
            let show_list = JSON.parse(response['show_list'])
            let card_id_list = []

            for (let i = 0; i < show_list.length; i++) {
                let title = show_list[i]['title'];
                let image_link = show_list[i]['image_link'];
                let start_date = show_list[i]['start_date'];
                let end_date = show_list[i]['end_date'];
                let address_class1 = show_list[i]['address_class1'];
                let address_class2 = show_list[i]['address_class2'];
                let place = show_list[i]['place'];
                let id = show_list[i]['id'];

                let temp_html = `<div type="button" class="col" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                                    <div class="card shadow show-card"  onclick="show_detail('${id}','main')">
                                        <img class="card-img-top"
                                            src="${image_link}" onerror="this.src='/static/imgs/noimage.png';"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title weight_600">${title}</h5>
                                            <p class="card-text">기간: ${start_date} ~ ${end_date}</p>
                                            <p class="card-text">지역: ${address_class1} ${address_class2}</p>
                                            <p class="card-text">장소: ${place}</p>
                                        </div>
                                    </div>
                                </div>`;
                $('#cards-box').append(temp_html);

                card_id_list.push(id)
                sessionStorage.setItem('exhibit_id_list', card_id_list)
            }
        }

        //  리스트업용 함수 끝

        // 메인 최신 전시회 리스트 시작(html ajax 작업완료했습니다.)
        function all_listup() {

            $('#cards-box').empty()

            $.ajax({
                type: "GET",
                url: "/list",
                data: {},
                success: function (response) {
                    append_cards(response);
                }
            })
        }

        // 메인 최신 전시회 리스트 끝

        // 왼쪽 메뉴 전시 리스트 가져오기 시작
        function exhibition_listup() {

            $('#cards-box').empty()

            let exhibition = $("input[name='main_menu']:checked").val();

            // console.log(exhibition)
            $('#cards-list-title').empty()

            if (exhibition == "exhibition") {
                let cards_list_title = `전시 리스트`
                $('#cards-list-title').append(cards_list_title)
            }
            if (exhibition == "museum") {
                let cards_list_title = `뮤지엄 리스트`
                $('#cards-list-title').append(cards_list_title)
            }
            if (exhibition == "childs_experience") {
                let cards_list_title = `아동체험전 리스트`
                $('#cards-list-title').append(cards_list_title)
            }
            if (exhibition == "event/festival") {
                let cards_list_title = `행사/축제 리스트`
                $('#cards-list-title').append(cards_list_title)
            }
            if (exhibition == "class") {
                let cards_list_title = `클래스 리스트`
                $('#cards-list-title').append(cards_list_title)
            }

            $.ajax({
                type: "GET",
                url: `/select_list?class_give=${exhibition}`,
                data: {},
                success: function (response) {
                    append_cards(response);
                }
            })
        }

        // 왼쪽 메뉴 전시 리스트 가져오기 끝


        // 전시회 상세 페이지 값 가져오기 시작

        function show_detail(id ,check) {
            if (id == 'No_preview') {
                alert('첫 페이지입니다.')
            } else if (id == 'No_next') {
                alert('마지막 페이지입니다.')
            } else if(check == 'detail'){

            } else {
                // console.log(id)
                // console.log(check)

                var session_key = sessionStorage.getItem('session_key')
                if (session_key == null) {
                    session_key = 'No_login'
                }


                $('#detail-page').empty()
                $.ajax({
                    type: 'POST',
                    url: '/show_detail',
                    data: {id_give: id, key_give: session_key},
                    success: function (response) {
                        let target_show = response['target_show']
                        let bookmark_give = response['bookmark_give']

                        let title = target_show['title']
                        let ticket_link = target_show['ticket_link']
                        let image_link = target_show['image_link']
                        let place = target_show['place']
                        let place_link = target_show['place_link']
                        let start_date = target_show['start_date']
                        let end_date = target_show['end_date']
                        let show_class = target_show['class']
                        let price = target_show['price']
                        let age_limit = target_show['age_limit']
                        let address = target_show['address']
                        let phone_num = target_show['phone_num']
                        let address_class1 = target_show['address_class1']
                        let address_class2 = target_show['address_class2']
                        let latitude = target_show['latitude']
                        let longitude = target_show['longitude']
                        let bookmark_total_num = target_show['bookmark_total_num']
                        let view_num = target_show['view_num']
                        let id = target_show['id']
                        let detail_link = target_show['detail_link']

                        //버튼 만들기 작업
                        if(check == 'detail_cards'){

                            // 상세 페이지에서 클릭했을 경우
                            var input_check = "'detail'"
                            var pre_value = 0
                            var next_value = 0

                        } else {

                            // main 페이지에서 클릭했을 경우
                            var input_check = "'main'"
                            let exhibit_id_list = sessionStorage.getItem('exhibit_id_list').split(',')

                            if (exhibit_id_list.indexOf(id) == 0) {
                                var pre_value = "'No_preview'"
                            } else {
                                var pre_value = "'" + exhibit_id_list[exhibit_id_list.indexOf(id) - 1] + "'"
                            }

                            if (exhibit_id_list.indexOf(id) == exhibit_id_list.length - 1) {
                                var next_value = "'No_next'"
                            } else {
                                var next_value = "'" + exhibit_id_list[exhibit_id_list.indexOf(id) + 1] + "'"
                            }

                        }


                        let detail_temp_html = `<div class="container" style="min-width:1400px">
                                                    <!--헤드 버튼-->
                                                    <div class="top topbutton">
                                                        <i class="i-shape_l btn btn-blue_F topbtn" onclick="show_detail(${pre_value},${input_check})"></i>
                                                        <i class="i-close btn btn-blue_F topbtn close" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                                                        <i class="i-shape_r btn btn-blue_F topbtn" onclick="show_detail(${next_value},${input_check})"></i>
                                                    </div>
                                                    <div class="middle">
                                                        <div class="middle-left">
                                                            <div>
                                                                <!--왼쪽 박스-->
                                                                <div class="imgbox">
                                                                    <img src="${image_link}" class="infoimg" alt="..." align="left" onerror="this.src='/static/imgs/noimage.png';">
                                                                </div>
                                                                <div class="infobox">
                                                                    <div class="infotext">
                                                                        <h3 class="preview"><b>${title}</b></h3>
                                                                        <hr class="hrstyle" noshade>
                                                                        <table width="280px" height="230px">
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>장소</b></td>
                                                                                <td>${place}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>기간</b></td>
                                                                                <td>${start_date} ~ ${end_date}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>관람연령</b></td>
                                                                                <td>${age_limit}</td>
                                                                            </tr>
                                                                            <tr class="tabletr">
                                                                                <td class="box-left"><b>가격</b></td>
                                                                                <td>${price}</td>
                                                                            </tr>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--오른쪽 박스-->
                                                                <div class="wrap2">
                                                                    <div class="right-menu">
                                                                        <p class="tit"><b>구매 링크</b></p>
                                                                        <input class="form-control add" type="text" placeholder="Disabled input" aria-label="Disabled input example" value="${ticket_link}" readonly>
                                                                        <div class=igather>
                                                                            <i class="i-bookmark circle" onclick="check('${id}')" id="bookmark" ></i>
                                                                            <i class="i-share circle" onclick="copy('${ticket_link}')"></i>
                                                                            <i class="i-info circle" onclick="info()" id="info"></i>
                                                                        </div>
                                                                    <!--i 클릭하면 정보 보이는 박스-->
                                                                    </div>
                                                                    <div class="right-menu" id="infoopen">
                                                                        <h3 class="infonum space"><span>조회</span><span>북마크</span></h3>
                                                                        <p class="num"><b class="space"><span>${view_num}</span><span>${bookmark_total_num}</span></b></p>
                                                                    </div>
                                                                    <button class="btn btn-white btn-radius btn-blue btn-point weight_600 button" onclick = "location.href ='${ticket_link}'" type="button">예매하기</button>
                                                                </div>
                                                            </div>
                                                            <!--상세정보-->
                                                            <div class="left-box2" id=detailimg>
                                                                <p class="detailstxt"><b>상세정보</b></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="plus" >
                                                        <p class="detailstxt"><b>함께 보면 좋은 전시들</b></p>
                                                        <div class="card-columns" id="another_exhibit">
                                                        </div>
                                                    </div>
                                                </div>
                                                `

                        $('#detail-page').append(detail_temp_html)

                        /*상세이미지 리스트*/
                        for (let i = 0; i < detail_link.length; i++) {
                            let img_link = detail_link[i]
                            let temp2_html = `<div><img src="${img_link}" id=detailimg class="details" alt="..."></div>`
                            $('#detailimg').append(temp2_html)
                        }

                        if (response['bookmark_give'] == 'Yes') {
                            document.getElementById('bookmark').style.color = "blue"
                        }

                        show_another_exhibit(id)
                    }
                })
            }
        }

        function show_another_exhibit(id) {
            $.ajax({
                type: 'POST',
                url: '/show_detail/another_exhibit',
                data: {id_give: id},
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let image = response[i]['image_link']
                        let title = response[i]['title']
                        let start_date = response[i]['start_date']
                        let end_date = response[i]['end_date']
                        let address_class1 = response[i]['address_class1']
                        let address_class2 = response[i]['address_class2']
                        let place = response[i]['place']
                        let id_detail = response[i]['id']

                        let temp_html3 = `<div type="button" class="col modalcol">
                                                <div class="card shadow show-card modalcard" onclick="show_detail('${id_detail}','detail_cards')">
                                                    <img class="card-img-top"
                                                            src="${image}"
                                                            alt="Card image cap" onerror="this.src='/static/imgs/noimage.png';">
                                                    <div class="card-body">
                                                        <h5 class="card-title weight_600">${title}</h5>
                                                        <p class="card-text">기간: ${start_date} ~ ${end_date}</p>
                                                        <p class="card-text">지역: ${address_class1} ${address_class2}</p>
                                                        <p class="card-text">장소: ${place}</p>
                                                    </div>
                                                </div>
                                            </div>`

                        $('#another_exhibit').append(temp_html3)
                    }


                }
            })
        }


        // 전시회 상세 페이지 값 가져오기 끝


        /*상세 페이지 북마크 클릭 함수*/
        function check(id) {
            var session_key = sessionStorage.getItem('session_key')

            if (sessionStorage.getItem('session_key') == null) {
                alert('로그인 후 이용해주세요')
            } else {
                $.ajax({
                    type: 'POST',
                    url: '/add_bookmark',
                    data: {userkey_give: session_key, exhibitid_give: id},
                    success: function (response) {
                        let Do = response['Do']

                        if (Do == "remove_complete") {
                            document.getElementById('bookmark').style.color = "black"
                            alert('북마크가 해제 되었습니다')
                        } else {
                            document.getElementById('bookmark').style.color = "blue"
                            alert('북마크가 추가 되었습니다')
                        }
                    }
                })
            }
        }

        /*상세 페이지 링크 복사 함수*/
        function copy(str) {
            let t = document.createElement("textarea");
            document.getElementById('detail-page').appendChild(t);
            t.value = str;
            t.select();
            document.execCommand('copy');
            document.getElementById('detail-page').removeChild(t);
            alert('링크가 복사되었습니다');
        }

        /*상세 페이지 i 클릭 함수*/
        function info() {
            if (document.getElementById("infoopen").style.display == 'block') {
                document.getElementById("info").style.color = "black"
                document.getElementById("infoopen").style.display = 'none';
            } else {
                document.getElementById("info").style.color = "blue"
                document.getElementById("infoopen").style.display = 'block';
            }
        }

        // 지도 검색 select 태그 내용 추가하기 시작
        $('document').ready(function () {
            var area0 = ["시/도", "서울시", "인천시", "대전시", "광주시", "대구시", "울산시", "부산시", "경기도", "강원도", "충청북도", "충청남도", "전라북도", "전라남도", "경상북도", "경상남도", "제주도"];
            var area1 = ["강남구", "강동구", "강북구", "강서구", "관악구", "광진구", "구로구", "금천구", "노원구", "도봉구", "동대문구", "동작구", "마포구", "서대문구", "서초구", "성동구", "성북구", "송파구", "양천구", "영등포구", "용산구", "은평구", "종로구", "중구", "중랑구"];
            var area2 = ["계양구", "남구", "남동구", "동구", "부평구", "서구", "연수구", "중구", "강화군", "옹진군"];
            var area3 = ["대덕구", "동구", "서구", "유성구", "중구"];
            var area4 = ["광산구", "남구", "동구", "북구", "서구"];
            var area5 = ["남구", "달서구", "동구", "북구", "서구", "수성구", "중구", "달성군"];
            var area6 = ["남구", "동구", "북구", "중구", "울주군"];
            var area7 = ["강서구", "금정구", "남구", "동구", "동래구", "부산진구", "북구", "사상구", "사하구", "서구", "수영구", "연제구", "영도구", "중구", "해운대구", "기장군"];
            var area8 = ["고양시", "과천시", "광명시", "광주시", "구리시", "군포시", "김포시", "남양주시", "동두천시", "부천시", "성남시", "수원시", "시흥시", "안산시", "안성시", "안양시", "양주시", "오산시", "용인시", "의왕시", "의정부시", "이천시", "파주시", "평택시", "포천시", "하남시", "화성시", "가평군", "양평군", "여주군", "연천군"];
            var area9 = ["강릉시", "동해시", "삼척시", "속초시", "원주시", "춘천시", "태백시", "고성군", "양구군", "양양군", "영월군", "인제군", "정선군", "철원군", "평창군", "홍천군", "화천군", "횡성군"];
            var area10 = ["제천시", "청주시", "충주시", "괴산군", "단양군", "보은군", "영동군", "옥천군", "음성군", "증평군", "진천군", "청원군"];
            var area11 = ["계룡시", "공주시", "논산시", "보령시", "서산시", "아산시", "천안시", "금산군", "당진군", "부여군", "서천군", "연기군", "예산군", "청양군", "태안군", "홍성군"];
            var area12 = ["군산시", "김제시", "남원시", "익산시", "전주시", "정읍시", "고창군", "무주군", "부안군", "순창군", "완주군", "임실군", "장수군", "진안군"];
            var area13 = ["광양시", "나주시", "목포시", "순천시", "여수시", "강진군", "고흥군", "곡성군", "구례군", "담양군", "무안군", "보성군", "신안군", "영광군", "영암군", "완도군", "장성군", "장흥군", "진도군", "함평군", "해남군", "화순군"];
            var area14 = ["경산시", "경주시", "구미시", "김천시", "문경시", "상주시", "안동시", "영주시", "영천시", "포항시", "고령군", "군위군", "봉화군", "성주군", "영덕군", "영양군", "예천군", "울릉군", "울진군", "의성군", "청도군", "청송군", "칠곡군"];
            var area15 = ["거제시", "김해시", "마산시", "밀양시", "사천시", "양산시", "진주시", "진해시", "창원시", "통영시", "거창군", "고성군", "남해군", "산청군", "의령군", "창녕군", "하동군", "함안군", "함양군", "합천군"];
            var area16 = ["서귀포시", "제주시", "남제주군", "북제주군"];


            // 시/도 선택 박스 초기화

            $("select[name^=sido]").each(function () {
                $selsido = $(this);
                $.each(eval(area0), function () {
                    $selsido.append("<option value='" + this + "'>" + this + "</option>");
                });
                $selsido.next().append("<option value=''>구/군</option>");
            });


            // 시/도 선택시 구/군 설정

            $("select[name^=sido]").change(function () {
                var area = "area" + $("option", $(this)).index($("option:selected", $(this))); // 선택지역의 구군 Array
                var $gugun = $(this).next(); // 선택영역 군구 객체
                $("option", $gugun).remove(); // 구군 초기화

                if (area == "area0")
                    $gugun.append("<option value=''>구/군 선택</option>");
                else {
                    $.each(eval(area), function () {
                        $gugun.append("<option value='" + this + "'>" + this + "</option>");
                    });
                }
            });
        });


        // 로그아웃 버튼 누눌때, 작동 시작
        function log_out() {
            if (sessionStorage.getItem('session_key') != null) {
                sessionStorage.removeItem('session_key')
                alert('로그아웃 되었습니다.')
                window.location.reload()
            } else {
                alert('아직 로그인하지 않았습니다.')
            }
        }

        // 로그아웃 버튼 누눌때, 작동 끝


        // 세션 확인 로그인 로그아웃 화면 노출 시작

        function session_check() {

            if (sessionStorage.getItem('session_key') == null) {
                let login_temp = `<button class="btn btn-white btn-radius log-in" type="text" placeholder=""
                                    onClick="location.href='/login_page'">로그인
                                  </button>`
                let join_temp = `<button class="btn btn-white btn-radius btn-blue sign-up" type="text" noresize="noresize"
                                    placeholder="" onClick="location.href='/join'">회원가입
                                 </button>`

                $('#login-view').append(login_temp)
                $('#join-view').append(join_temp)

            } else {
                let mypro_temp = `<button class="btn btn-white btn-radius my-pro" type="text" placeholder=""
                                     onClick="location.href='/mypage'">My 프로필
                                  </button>`
                let logout_temp = `<button class="btn btn-white btn-radius btn-blue log-out" type="text" noresize="noresize"
                                      placeholder="" onClick="log_out()">로그아웃
                                  </button>`

                $('#mypro-view').append(mypro_temp)
                $('#logout-view').append(logout_temp)
            }
        }

        // 세션 확인 로그인 로그아웃 화면 노출 끝

        // 지역 지도 검색 시작

        function mapSearch() {

            let session_key = sessionStorage.getItem('session_key')
            // console.log(session_key)

            let sido = $("select[name=sido1]").val();
            let gugun = $("select[name=gugun1]").val();

            if (sido == "시/도") {
                alert("시/도를 선택해 주세요.");
            } else if (gugun == "구/군") {
                alert("구/군을 선택해 주세요.");
            } else {

                // console.log(sido, gugun)

                $.ajax({
                    type: "POST",
                    url: "/setposition",
                    data: {address1_give: sido, address2_give: gugun, key_give: session_key},
                    success: function (response) {
                        // console.log(response['result']);

                        let iframe_map = response['result']

                        if (iframe_map == 'success') {
                            let iframe_temp = `<iframe allow="fullscreen" src="https://credical.shop/position_map"
                                                allow="autoplay; encrypted-media" scrolling="no" align="center"
                                                class="iframebox"></iframe>`
                            $('#iframe-map').empty()
                            $('#iframe-map').append(iframe_temp)
                        }
                    }
                })
            }
        }

        // 지역 지도 검색 시작 끝


        // 로그인 시 보여주는 맵 시작

        function loginMap() {

            let session_key = sessionStorage.getItem('session_key')
            // console.log(session_key)

                $.ajax({
                    type: "POST",
                    url: "/login_map",
                    data: {key_give: session_key},
                    success: function (response) {
                        // console.log(response['result']);

                        let iframe_map = response['result']

                        if (iframe_map == 'success') {
                            let iframe_temp = `<iframe allow="fullscreen" src="https://credical.shop/position_map"
                                                allow="autoplay; encrypted-media" scrolling="no" align="center"
                                                class="iframebox"></iframe>`
                            $('#iframe-map').empty()
                            $('#iframe-map').append(iframe_temp)
                        }
                    }
                })
        }

        // 로그인 시 보여주는 맵 시작 끝


        function myCategory() {

            var session_key = sessionStorage.getItem('session_key')
            // console.log(session_key)

            let cate_check1 = $('input:checkbox[name="interest-01"]:checked').val();
            let cate_check2 = $('input:checkbox[name="interest-02"]:checked').val();
            let cate_check3 = $('input:checkbox[name="interest-03"]:checked').val();
            let cate_check4 = $('input:checkbox[name="interest-04"]:checked').val();
            let cate_check5 = $('input:checkbox[name="interest-05"]:checked').val();

            // console.log(cate_check1, cate_check2, cate_check3, cate_check4, cate_check5)


            if ($('input:checkbox[name="interest-01"]').is(":checked") == true) {
                // console.log(cate_check1)
                let cate_exhibition = `<div id="menu-button_01" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="exhibition"><span>전시</span>
                            </label>
                        </div>`
                $('#left-menu').append(cate_exhibition)
            }

            if ($('input:checkbox[name="interest-02"]').is(":checked") == true) {
                // console.log(cate_check2)
                let cate_museum = `<div id="menu-button_02" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="museum"><span>뮤지엄</span>
                            </label>
                        </div>`
                $('#left-menu').append(cate_museum)
            }

            if ($('input:checkbox[name="interest-03"]').is(":checked") == true) {
                // console.log(cate_check3)
                let cate_childs_experience = `<div id="menu-button_03" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu"
                                       onclick="exhibition_listup()"
                                       value="childs_experience"><span>아동체험전</span>
                            </label>
                        </div>`
                $('#left-menu').append(cate_childs_experience)
            }

            if ($('input:checkbox[name="interest-04"]').is(":checked") == true) {
                // console.log(cate_check4)
                let cate_eventfestival = `<div id="menu-button_04" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu"
                                       onclick="exhibition_listup()"
                                       value="event/festival"><span>행사/축제</span>
                            </label>
                        </div>`
                $('#left-menu').append(cate_eventfestival)
            }

            if ($('input:checkbox[name="interest-05"]').is(":checked") == true) {
                // console.log(cate_check5)
                let cate_class = `<div id="menu-button_05" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="class"><span>클래스</span>
                            </label>
                        </div>`
                $('#left-menu').append(cate_class)
            }

        }


        function categorySave() {

            let cate = [];
            let session_key;
            let cate_string = [];

            if (sessionStorage.getItem('session_key') == null) {
                alert('아직 로그인하지 않았습니다.')
            } else {
                session_key = sessionStorage.getItem('session_key')

                // console.log(session_key)

                let cate_check1 = $('input:checkbox[name="interest-01"]:checked').val();
                if (cate_check1 != undefined) {
                    cate.push(cate_check1)
                }
                let cate_check2 = $('input:checkbox[name="interest-02"]:checked').val();
                if (cate_check2 != undefined) {
                    cate.push(cate_check2)
                }
                let cate_check3 = $('input:checkbox[name="interest-03"]:checked').val();
                if (cate_check3 != undefined) {
                    cate.push(cate_check3)
                }
                let cate_check4 = $('input:checkbox[name="interest-04"]:checked').val();
                if (cate_check4 != undefined) {
                    cate.push(cate_check4)
                }
                let cate_check5 = $('input:checkbox[name="interest-05"]:checked').val();
                if (cate_check5 != undefined) {
                    cate.push(cate_check5)
                }
                // console.log(cate)
                cate_string = cate.toString();
                // console.log(cate_string)
            }

            $.ajax({
                type: "POST",
                url: "/multi_s_list",
                data: {class_give: cate_string, key_give: session_key},
                success: function (response) {
                    alert(response['msg']);
                    let select_cate = (response['user_categ']);
                    // console.log(select_cate)

                    location.href = "/";
                }
            })
        }


        function cateMainmenu() {

            let session_key = sessionStorage.getItem('session_key')

            // console.log(session_key)

            if (sessionStorage.getItem('session_key') != null) {

                $.ajax({
                    type: "POST",
                    url: "/mycategory",
                    data: {key_give: session_key},
                    success: function (response) {
                        // console.log(response['selected_catgy']);

                        let cate = response['selected_catgy'];

                        $('#left-mainmenu').empty()


                        if (cate.includes("exhibition")) {


                            let main_exhibition = `<div id="menu-button_01" class="menu-button">
                                                <label>
                                                    <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                                           value="exhibition"><span>전시</span>
                                                </label>
                                            </div>`
                            $('#left-mainmenu').append(main_exhibition)


                            $('#ck-button_01').empty()
                            let cate_exhibition = `                    <label>
                        <input type="checkbox" name="interest-01" id="interest"
                               value="exhibition" onClick="myCategory()" checked><span>전시</span>
                    </label>
                </div>`
                            $('#ck-button_01').append(cate_exhibition)
                        }

                        if (cate.includes("museum")) {
                            let main_museum = `<div id="menu-button_02" class="menu-button">
                                            <label>
                                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                                       value="museum"><span>뮤지엄</span>
                                            </label>
                                        </div>`
                            $('#left-mainmenu').append(main_museum)


                            $('#ck-button_02').empty()
                            let cate_museum = ` <label>
                        <input type="checkbox" name="interest-02" id="interest"
                               value="museum" onClick="myCategory()" checked><span>뮤지엄</span>
                    </label>`
                            $('#ck-button_02').append(cate_museum)
                        }

                        if (cate.includes("childs_experience")) {
                            let main_childs_experience = `<div id="menu-button_03" class="menu-button">
                                                    <label>
                                                        <input type="radio" name="main_menu" id="main-menu"
                                                               onclick="exhibition_listup()"
                                                               value="childs_experience"><span>아동체험전</span>
                                                    </label>
                                                </div>`
                            $('#left-mainmenu').append(main_childs_experience)


                            $('#ck-button_03').empty()
                            let cate_childs_experience = `<label>
                        <input type="checkbox" name="interest-03" id="interest"
                               value="childs_experience" onClick="myCategory()" checked><span>아동체험전</span>
                    </label>`
                            $('#ck-button_03').append(cate_childs_experience)
                        }

                        if (cate.includes("event/festival")) {
                            let main_eventfestival = `<div id="menu-button_04" class="menu-button">
                                                    <label>
                                                        <input type="radio" name="main_menu" id="main-menu"
                                                               onclick="exhibition_listup()"
                                                               value="event/festival"><span>행사/축제</span>
                                                    </label>
                                                </div>`
                            $('#left-mainmenu').append(main_eventfestival)


                            $('#ck-button_04').empty()
                            let cate_eventfestival = `<label>
                        <input type="checkbox" name="interest-04" id="interest"
                               value="event/festival" onClick="myCategory()" checked><span>행사/축제</span>
                    </label>`
                            $('#ck-button_04').append(cate_eventfestival)
                        }

                        if (cate.includes("class")) {
                            let main_class = `<div id="menu-button_05" class="menu-button">
                                            <label>
                                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                                       value="class"><span>클래스</span>
                                            </label>
                                        </div>`
                            $('#left-mainmenu').append(main_class)


                            $('#ck-button_05').empty()
                            let cate_class = `<label>
                        <input type="checkbox" name="interest-05" id="interest"
                               value="class" onClick="myCategory()" checked><span>클래스</span>
                    </label>`
                            $('#ck-button_05').append(cate_class)
                        }


                    }
                })
            }

        }


    </script>

</head>

<body>

<div class="body-center">

    <div class="container-fluid">

        <div class="top">

            <!-- 모달 영역 -->
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title weight_700 interest-title">어떤 전시회를 보고 싶으신가요?</div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true"><i class="i-close" onclick="cateMainmenu()"></i></span></button>
                        </div>
                        <div class="modal-body interest-ceter">
                            <div class="interest-title-sub">홈 피드에서 보고 싶은 콘텐츠를 선택해주세요.</div>
                            <div class="interest-ceter">
                                <div id="ck-button_01" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest-01" id="interest"
                                               value="exhibition" onclick="myCategory()"><span>전시</span>
                                    </label>
                                </div>
                                <div id="ck-button_02" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest-02" id="interest"
                                               value="museum" onclick="myCategory()"><span>뮤지엄</span>
                                    </label>
                                </div>
                                <div id="ck-button_03" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest-03" id="interest"
                                               value="childs_experience" onclick="myCategory()"><span>아동체험전</span>
                                    </label>
                                </div>
                            </div><br>
                            <div class="interest-ceter">
                                <div id="ck-button_04" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest-04" id="interest"
                                               value="event/festival" onclick="myCategory()"><span>행사/축제</span>
                                    </label>
                                </div>
                                <div id="ck-button_05" class="ck-button">
                                    <label>
                                        <input type="checkbox" name="interest-05" id="interest"
                                               value="class" onclick="myCategory()"><span>클래스</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer interest-ceter">
                            <div>
                                <input class="interest-save-btn btn-radius btn-point" type="submit" value="다 했어요!"
                                       onclick="categorySave()">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 모달 영역 끝 -->

        </div>
        <!-- MIDDLE 시작 -->
        <div class="middle">
            <!-- LEFT 시작 -->

            <div class="middle-left float-left">

                <!-- 왼쪽 메뉴 시작 -->
                <div class="left-menu">

                    <div class="interest" data-target="#myModal">관심 카테고리<i class="i-more" data-bs-toggle="modal"
                                                                           data-bs-target="#staticBackdrop"></i></div>
                    <div id="left-mainmenu">
                        <div id="menu-button_01" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="exhibition"><span>전시</span>
                            </label>
                        </div>
                        <div id="menu-button_02" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="museum"><span>뮤지엄</span>
                            </label>
                        </div>
                        <div id="menu-button_03" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu"
                                       onclick="exhibition_listup()"
                                       value="childs_experience"><span>아동체험전</span>
                            </label>
                        </div>
                        <div id="menu-button_04" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu"
                                       onclick="exhibition_listup()"
                                       value="event/festival"><span>행사/축제</span>
                            </label>
                        </div>
                        <div id="menu-button_05" class="menu-button">
                            <label>
                                <input type="radio" name="main_menu" id="main-menu" onclick="exhibition_listup()"
                                       value="class"><span>클래스</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- 왼쪽 메뉴 끝 -->

            </div>
            <!-- LEFT 끝 -->


            <!-- RIGHT 시작 -->
            <div class="middle-right">

                <div class="wrap">
                    <div class="header-postion">
                        <!-- 검색 Input 시작 -->
                        <div class="search float-left">
                            <select name="sido1" id="sido1" class="form-select"
                                    aria-label="Default select example"></select>
                            <select name="gugun1" id="gugun1" class="form-select seach-position"
                                    aria-label="Default select example"></select>
                        </div>
                        <div class="float-left">
                            <button class="btn btn-white btn-radius map-search" type="text" placeholder=""
                                    onclick="mapSearch()">지도 검색
                            </button>
                        </div>
                        <div class="float-left">
                            <button class="btn btn-white btn-radius position-search" type="text" placeholder=""
                                    onclick="geoFindMe()">현재 위치 검색
                            </button>
                        </div>
                        <!-- 검색 Input 끝-->
                        <!-- 로그인 회원가입 시작 -->
                        <div class="float-left" id="login-view">
                            <!-- 로그인 버튼 노출 부분-->
                        </div>
                        <div id="join-view">
                            <!-- 회원가입 버튼 노출 부분 -->
                        </div>
                        <div class="float-left" id="mypro-view">
                            <!-- 마이프로필 버튼 노출 부분 -->
                        </div>
                        <div id="logout-view">
                            <!-- 로그아웃 버튼 노출 부분 -->
                        </div>
                        <!-- 로그인 회원가입 끝 -->
                    </div>
                    <!-- 지도 부분 -->
                    <div class="current-position-map" id="iframe-map">
                        <iframe allow="fullscreen" src="https://credical.shop/exhibi_map"
                                allow="autoplay; encrypted-media" scrolling="no" align="center"
                                class="iframebox"></iframe>
                    </div>
                    <!-- 지도 부분 끝 -->
                    <div id="cards-list-title" class="weight_600 cards-list-title">최신 전시회</div>

                    <!-- 전시회 리스트 -->
                    <div class="cards-list-box">
                        <div id="cards-box" class="row row-cols-auto ">
                            <div type="button" class="col" data-bs-toggle="offcanvas"
                                 data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                                <div class="card shadow show-card">
                                    <img class="card-img-top"
                                         src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                        <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                        <p class="card-text">지역: 서울</p>
                                        <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 전시회 리스트 끝 -->

                </div>
                <!-- RIGHT 끝 -->

                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                     aria-labelledby="offcanvasBottomLabel">
                    
                    <div id="detail-page" class="scrolledit">
                    </div>
                </div>
                <!-- 모달 상세 페이지 부분 끝 -->

            </div>
        </div>
        <!-- MIDDLE 끝 -->

    </div>

</div>

</body>
</html>