<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!-- Bootstrap CSS -->
    <!-- 카드 리스트 영향 시작 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <!-- 카드 리스트 영향 끝 -->
    <!-- JS -->
    <!-- 관심 카테고리 영향 시작 -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- 관심 카테고리 영향 끝 -->

    <title>메이킹챌린지 11기 | 전시회 조회 서비스</title>

    <link rel="stylesheet" href="../static/style/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/common.css">
    <link rel="stylesheet" type="text/css" href="../static/style/main.css">
    <link rel="stylesheet" href="../static/style/index.css">
    <script src="../static/js/bootstrap.min.js"></script>

    <meta property="og:title" content="전시회 조회 서비스">
    <meta property="og:description" content="메이킹 챌린지 11기">
    <meta property="og:image" content="{{ url_for('static', 'filename=ogimage.png') }}">

    <style></style>

    <script>

        $(document).ready(function () {

        });


        // 지도검색 Select 구 리스트 가져오기 시작
        function searchSelectView() {
            $.ajax({
                type: 'GET',
                url: '/api/list',
                data: {},
                success: function (response) {
                    let movie_stars = response['movie_stars_list'];

                    for (let i = 0; i < movie_stars.length; i++) {
                        let name = movie_stars[i]['name']
                        let img_url = movie_stars[i]['img_url']
                        let recent = movie_stars[i]['recent']
                        let url = movie_stars[i]['url']
                        let like = movie_stars[i]['like']


                        let temp_html = `        <div class="card">
                                                    <div class="card-content">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <figure class="image is-48x48">
                                                                    <img
                                                                            src="${img_url}"
                                                                            alt="Placeholder image"
                                                                    />
                                                                </figure>
                                                            </div>
                                                            <div class="media-content">
                                                                <a href="${url}" target="_blank" class="star-name title is-4">${name} (좋아요: ${like})</a>
                                                                <p class="subtitle is-6">${recent}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <footer class="card-footer">
                                                        <a href="#" onclick="likeStar('${name}')" class="card-footer-item has-text-info">
                                                            위로!
                                                            <span class="icon">
                                                          <i class="fas fa-thumbs-up"></i>
                                                        </span>
                                                        </a>
                                                        <a href="#" onclick="deleteStar('${name}')" class="card-footer-item has-text-danger">
                                                            삭제
                                                            <span class="icon">
                                                          <i class="fas fa-ban"></i>
                                                        </span>
                                                        </a>
                                                    </footer>
                                                </div>`

                        $('#star-box').append(temp_html)
                    }
                }
            });
        }
        // 지도검색 Select 구 리스트 가져오기 끝

        function likeStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/like',
                data: {name_give: name},
                success: function (response) {
                    console.log(response)
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }

        function deleteStar(name) {
            $.ajax({
                type: 'POST',
                url: '/api/delete',
                data: {name_give: name},
                success: function (response) {
                    alert(response['msg']);
                    window.location.reload()
                }
            });
        }


        // 메인 메뉴 클릭 시작
        $(function () {
            $("dt").click(function () {  // .click(0를 이용해 클릭했을 때 동작
                $(this).toggleClass("open"); // 해당태그를 토글시 오픈 / toggleClass()로 선택한 요소에 클래스(Class) 값을 넣었다 뺐다 할 수 있습니다.
                if ($(this).hasClass("open")) // 해당 태그에 클래스이 open이 있는지 확인 / 의 hasClass() 메서드는 선택한 요소에 클래스가 있는지 확인합니다. / 열려있는 것 확인
                    $("dt").not(this).removeClass("open"); // not(this) this가 아닌요소 선택 / removeClass() 클래스를 지운다. / 열려있는것 닫기
            })
        })
        // 메인 메뉴 클릭 끝

    </script>

</head>

<body>

    <div class="container">

        <div class="top"></div>
        <!-- MIDDLE -->
        <div class="middle">

            <!-- LEFT 시작 -->
            <div class="middle-left">
                <!-- 관심 카테고리 모달 열기 위한 버튼 -->
                <!--            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
                <!--                모달 보기 버튼-->
                <!--            </button>-->
                <!-- 관심 카테고리 모달 열기 위한 버튼 끝 -->
                <!-- 모달 영역 -->
                <div class="modal modal-center fade" id="my80sizeCenterModal" tabindex="-1" role="dialog"
                     aria-labelledby="my80sizeCenterModalLabel">
                    <div class="modal-dialog modal-80size modal-center" role="document">
                        <div class="modal-content modal-80size">
                            <div class="modal-header">
                                <div class="modal-title weight_700 interest-title" id="myModalLabel">어떤 전시회를 보고 싶으신가요?</div>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true"><i class="i-close"></i></span></button>
                            </div>
                            <div class="modal-body interest-ceter">
                                <div class="interest-title-sub">홈 피드에서 보고 싶은 콘텐츠를 선택해주세요.</div>
                                <div class="interest-ceter">
                                    <div id="ck-button">
                                        <label>
                                            <input type="checkbox" name="interest_01" id="interest"
                                                   value="전시"><span>전시</span>
                                        </label>
                                    </div>
                                    <div id="ck-button">
                                        <label>
                                            <input type="checkbox" name="interest_02" id="interest" value="뮤지엄"><span>뮤지엄</span>
                                        </label>
                                    </div>
                                    <div id="ck-button">
                                        <label>
                                            <input type="checkbox" name="interest_03" id="interest" value="아동체험전"><span>아동체험전</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="interest-ceter">
                                    <div id="ck-button">
                                        <label>
                                            <input type="checkbox" name="interest_04" id="interest" value="행사/축제"><span>행사/축제</span>
                                        </label>
                                    </div>
                                    <div id="ck-button">
                                        <label>
                                            <input type="checkbox" name="interest_05" id="interest" value="클래스"><span>클래스</span>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer interest-ceter">
                                <div>
                                <input class="interest-save-btn btn-radius" type="submit" value="다 했어요!">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 모달 영역 끝 -->

                <!-- 왼쪽 메뉴 시작 -->
                <div class="left-menu">
                    <dl>
                        <div class="interest" data-target="#myModal">관심 카테고리<i class="i-more" data-toggle="modal"
                                                                               data-target="#my80sizeCenterModal"></i>
                        </div>
                        <dt>전시</dt>
                        <dd></dd>
                        <dt>뮤지엄</dt>
                        <dd></dd>
                        <dt>아동체험전</dt>
                        <dd></dd>
                        <dt>행사/축제</dt>
                        <dd></dd>
                        <dt>클래스</dt>
                        <dd></dd>
                    </dl>
                </div>
                <!-- 왼쪽 메뉴 끝 -->

            </div>
            <!-- LEFT 끝 -->

            <!-- RIGHT 시작 -->
            <div class="middle-right">

                <div class="wrap">
                    <!-- 검색 Input 시작 -->
                    <div class="search" style="float:left;">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>선택</option>
                            <option value="1">서울시</option>
                            <option value="2">경기도</option>
                            <option value="3">경상북도</option>
                        </select>
                    </div>
                    <div class="search" style="float:left;">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>선택</option>
                            <option value="1">강남구</option>
                            <option value="2">강북구</option>
                            <option value="3">강동구</option>
                        </select>
                    </div>
                    <div style="float:left;">
                        <button class="btn btn-white btn-radius map-search" type="text" placeholder="">지도 검색</button>
                    </div>
                    <div style="float:left;">
                        <button class="btn btn-white btn-radius map-search" type="text" placeholder="">현재 위치 검색</button>
                    </div>
                    <!-- 검색 Input 끝-->
                    <!-- 로그인 회원가입 시작 -->
                    <div style="float:left;">
                        <button class="btn btn-white btn-radius log-in" type="text" placeholder="">로그인</button>
                    </div>
                    <div>
                        <button class="btn btn-white btn-radius btn-blue sign-up" type="text" noresize="noresize" placeholder="">회원가입</button>
                    </div>
                    <div style="float:left;">
                        <button class="btn btn-white btn-radius my-pro" type="text" placeholder="">My 프로필</button>
                    </div>
                    <div>
                        <button class="btn btn-white btn-radius btn-blue log-out" type="text" noresize="noresize"
                                placeholder="">로그아웃
                        </button>
                    </div>
                    <!-- 로그인 회원가입 끝 -->
                    <!-- 지도 부분 -->
                    <div class="current-position-map"><iframe src="../map.html" frameborder="0" allowfullscreen allow="autoplay; encrypted-media" style="display:block; width:100%; height: 100vh" scrolling="no" align="center"></iframe></div>

                    <!-- 지도 부분 끝 -->
                    <div class="weight_600 cards-list-title">최신 전시회</div>

                    <!-- 전시회 리스트 -->
                    <div id="cards-box" class="card-columns">
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                        <div class="card shadow" data-bs-toggle="offcanvas"
                             data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title weight_600">한영수 미디어전 전시회</h5>
                                <p class="card-text">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text">지역: 서울</p>
                                <p class="card-text">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                    </div>
                    <!-- 전시회 리스트 끝 -->

                </div>
                <!-- RIGHT 끝 -->

                <!-- 모달 상세 페이지 부분 시작 -->
                <!--                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"-->
                <!--                        data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">Toggle bottom offcanvas-->
                <!--                </button>-->

                <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom"
                     aria-labelledby="offcanvasBottomLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasBottomLabel">상세페이지</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body small">
                        상세페이지 내용
                        <div class="card show-card btn btn-outline-secondary">
                            <img class="card-img-top"
                                 src="https://ticketimage.interpark.com/Play/image/large/21/21008039_p.gif"
                                 alt="Card image cap">
                            <div class="card-body">
                                <a target="_blank" href="#" class="card-title list-title-font">한영수 미디어전 전시회</a>
                                <p class="card-text list-info-font">기간: 2021.09.01 ~ 2022.03.20</p>
                                <p class="card-text list-info-font">지역: 서울</p>
                                <p class="card-text list-info-font">장소: 롯데월드타워 서울스카이</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 모달 상세 페이지 부분 끝 -->

            </div>
        </div>
        <!-- MIDDLE 끝 -->

    </div>

</body>
</html>