<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <link rel="stylesheet" href="/exhibi-dev/static/style/bootstrap.min.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/common.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/index.css">
  <script src="/exhibi-dev/static/js/bootstrap.min.js"></script>
</head>
<body>
  <i class="i-more"></i>
  <i class="i-bookmark"></i>
  <i class="i-close"></i>
  <i class="i-info"></i>
  <i class="i-love"></i>
  <i class="i-search"></i>
  <i class="i-shape_l"></i>
  <i class="i-shape_r"></i>
  <i class="i-share"></i>

  <div>기본 한글 폰트 서체 테스트</div>
  <div class="weight_400">font Title G</div>
  <div class="weight_500">font Title G</div>
  <div class="weight_600">font Title G</div>
  <div class="weight_700">font Title G</div>
  <div class="weight_800">font Title G</div>
  <div class="weight_900">font Title G</div>

  <br/>
  <br/>
  <div>Button</div>
  <i class="i-close btn btn-blue_F"></i>
  <button class="btn btn-blue" type="button">저장</button>
  <button class="btn btn-blue" type="button">수정</button>
  <button class="btn btn-white btn-radius" type="button">로그아웃</button>
  <button class="btn btn-white btn-radius btn-blue btn-point weight_600" type="button">예배하기</button>
  
  <br/>
  <br/>
  <div>
    <button class="btn btn-blue btn-custom weight_600" type="button">전시</button>
    <button class="btn btn-custom btn-blue_F weight_600" type="button">전시</button>
  </div>

  <br/>
  <br/>
  <div>Input box</div>
  <input class="form-control" type="text" placeholder="Disabled input" aria-label="Disabled input example">
  
  <br/>
  <div class="form-floating mb-3">
    <input type="email" class="form-control form_custom" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">아이디(이메일)</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control form_custom" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <br/>
  <div>Card</div>
  <div class="card shadow" style="width: 18rem;">
    <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
      <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
      <p class="card-text">장소 : 데스커 디자인 스토어</p>
    </div>
  </div>
  
  
  <br/>
  <br/>
  <div>4단 Card</div>
  <div class="card4_inner">
    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>
  </div>

  <br/>
  <br/>
  <div>3단 Card</div>
  <div class="card3_inner">
    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>

    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>
    
    <div class="card shadow" style="width: 18rem;">
      <img src="../static/imgs/imgcap.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title weight_600">리치제이 : Lucky messenger</h5>
        <p class="card-text">기간 : 2022.03.02.~2022.04.22.</p>
        <p class="card-text">장소 : 데스커 디자인 스토어</p>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
</body>
</html>