<!DOCTYPE html>
<html lang="ko" data-dark="false">
<head>
  <meta charset="UTF-8">
  <title>test</title>
  <link rel="stylesheet" href="/exhibi-dev/static/style/bootstrap.min.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/common.css">
  <link rel="stylesheet" href="/exhibi-dev/static/style/index.css">
  <script src="/exhibi-dev/static/js/bootstrap.min.js"></script>
</head>
<body>
  <i class="i-more"></i>
  <i class="i-bookmark"></i>
  <i class="i-close"></i>
  <i class="i-info"></i>
  <i class="i-love"></i>
  <i class="i-search"></i>
  <i class="i-shape_l"></i>
  <i class="i-shape_r"></i>
  <i class="i-share"></i>

  <div>기본 한글 폰트 서체 테스트</div>
  <div class="weight_400">font Title G</div>
  <div class="weight_500">font Title G</div>
  <div class="weight_600">font Title G</div>
  <div class="weight_700">font Title G</div>
  <div class="weight_800">font Title G</div>
  <div class="weight_900">font Title G</div>
</body>
</html>